* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar-nav .nav-link.active {
    color: #fff;
}

html {
    overflow-x: hidden;
}

.nav-link {
    text-align: center;
}

section {
    height: 100%;
    background-color: #fff;
    padding-top: 70px;
}

.cabecalho-menu {
    background-color: #ccc;
    z-index: 101;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ccc;
}

section #inicio {
    margin: 8px 0;
}

#produtos {
    display: grid;
    grid-template-columns: repeat(3, 32,3%);
    column-gap: 2%;
    row-gap: 5%;
}

#inicio {
    display: flex;
}

form {
    margin: 10px;
    text-align: center;
    max-width: 450px;
}

input {
    margin-bottom: 8px;
    text-align: center;
}

#contato {
    background-color: #ccc; 
}